
<h1>Welcome to the Finace Tracker App</h1>
<p style="text-align: center;">Track your overall performance in one place. Add portfolio holdings manually by entering ticker symbol.</p>
<div class="container">
	<div class="center">
		<%= link_to 'My Portfolio', my_portfolio_path, class: 'btn btn-xs btn-success' %>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="center">
		<%= image_tag ("stock.jpg") %>
	</div>
</div>
<br>
<br>
